@charset 'utf8';

// settings
$icon-size: 32px !default;
$default-icon-color: gray !default;
$spacer: 1rem !default;

@mixin svg-size($wh, $m) {
  svg {
    width: $icon-size + $icon-size / $wh;
    height: $icon-size + $icon-size / $wh;
    margin-left: -$icon-size / $m / 2;
    margin-top: -$icon-size / $m / 2;
  }
}

.icon-list {
  display: flex;
  &.is-vertical {
    flex-direction: column;
    a {
      margin-right: 0;
    }
    &.has-aligned-center {
      width: fit-content;
      align-items: center;
      span {
        margin-right: 0;
      }
    }
  }
  &.has-aligned-center {
    align-items: flex-start;
    .icon {
      margin-right: 0;
    }
    a, span {
      flex-direction: column;
      align-items: center;
      .icon {
        margin-right: 0;
        margin-bottom: $spacer / 4;
      }
    }
  }
  a, span {
    display: flex;
    align-items: center;
    margin-bottom: $spacer; 
    margin-right: $spacer * 1.5;
    width: fit-content;
    .icon {
      margin-bottom: 0;
    }
  }
  .icon {
    min-width: $icon-size;
    max-width: $icon-size;
    min-height: $icon-size;
    max-height: $icon-size;
    overflow: hidden;
    fill: $default-icon-color;
    margin-right: $spacer / 2;
    margin-bottom: $spacer;
    @include svg-size(6, 6);
    &.pinterest {
      @include svg-size(4, 4);
    }
    &.is-rounded {
      border-radius: $icon-size / 8;
      &-more {
        border-radius: $icon-size / 4;
      }
    }
    &.is-circle {
      border-radius: 50%;
      @include svg-size(8.5, 8);
      &.linkedin,
      &.youtube {
        @include svg-size(12, 12);
      }
      &.pinterest {
        @include svg-size(4, 4);
      }
    }
    &.reddit {
      fill: #ff4500;
    }
    &.snapchat {
      fill: #000000;
    }
    &.facebook {
      fill: #4267b2;
    }
    &.twitter {
      fill: #1da1f2;
    }
    &.instagram {
      fill: #f00074;
    }
    &.github {
      fill: #231f20;
    }
    &.linkedin {
      fill: #2867b2;
    }
    &.whatsapp {
      fill: #4ac959;
    }
    &.vimeo {
      fill: #1ab7ea;
    }
    &.youtube {
      fill: #ff0000;
    }
    &.pinterest {
      fill: #e60023;
    }
  }
}
